.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: auto; /* Wichtig: Interaktionen ermöglichen */
    will-change: transform; /* Optimierung für Animation */
  }
  
  .site-footer .footer-top {
    height: 50vh;
    cursor: pointer;
  }
  
  .site-footer .footer-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding-top: var(--spacing-3xl);
    pointer-events: auto;
  }

  .site-footer .footer-content h1 {
    font-size: 5rem;
    font-weight:100;
    margin-bottom: var(--spacing-5xl);  
  }

  .site-footer .footer-content p {
    font-size: 2.5rem;
    font-weight:100;
    margin-top: 0px;
    margin-bottom: var(--spacing-l);
  }

  .site-footer .footer-content a {
    font-size: 2.5rem;
    font-weight:100;
  }

  @media screen and (max-width: 800px),
  screen and (min-width: 800px) and (max-width: 1200px) and (orientation: portrait) {

  .site-footer .footer-content h1 {
    font-size: 3rem;
    line-height: normal;
    color: black;
    margin-bottom: var(--spacing-5xl);  
  }

  .site-footer .footer-content p {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: var(--spacing-l);
    padding:0;
    line-height: normal;
    color: black;
  }
  .site-footer .footer-content a {
    font-size: 1rem;
    font-weight:100;
  }
}

