header {
    font-weight: 400;
    font-size: var(--font-size-desktop-l);
    line-height: var(--font-size-desktop-l);
    width: 100vw;
    position: fixed;
    z-index: 10;
  }
  
  header > * {
    padding-top: var(--header-bottom-padding);
    padding-bottom: var(--header-bottom-padding);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--left-right-padding);
    padding-right: var(--left-right-padding);
  }

  @media screen and (max-width: 800px),
  screen and (min-width: 800px) and (max-width: 1200px) and (orientation: portrait) {
    header {
      font-weight: 400;     
      font-size: var(--font-size-mobile-l);
      line-height: var(--font-size-mobile-l);
    }
  }