# Persönliche Notizen
git commands

# Temporäre oder Backup-Dateien
script.js
script copy.js
*copy*.js     # Schließt alle Dateien mit "copy" im Namen aus
*backup*.js   # Optional: Schließt alle Dateien mit "backup" im Namen aus
.dump/

# Betriebssystem-Dateien
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporäre Dateien und Ordner
node_modules/
.cache/
dist/

# Strapi - zu ignorierende Dateien
strapi-cms/node_modules/
strapi-cms/.cache/
strapi-cms/.tmp/
strapi-cms/build/
strapi-cms/public/uploads/
strapi-cms/.env
strapi-cms/
package-lock.json
package.json
CLAUDE.md
