/* Für Deaktivierung der mobile Elemente */

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media screen and (max-width: 800px),
  screen and (min-width: 800px) and (max-width: 1200px) and (orientation: portrait) {

    /* Für Deaktivierung der Desktop Elemente */
    
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
