/* Allgemeine Variablen */
:root {
  --color-bg-light: 0, 0%, 100%;
  --font-primary: "Neue Montreal", sans-serif;
  --font-size-desktop-l: 2rem;
  --font-size-desktop-m: 1.5rem;
  --font-size-desktop-s: 1rem;
  --font-size-mobile-title: 1.5rem;
  --font-size-mobile-text: 1rem;
  --transition-speed: 0.3s;
  --transition-speed-overlay:0.5s;
  --overlay-width: 50vw;
  --overlay-width-mobile: 100vw;
  --spacing-top: 1rem;
  --spacing-bottom: 1rem;
  /*--overlay-width:min(50vw, 15rem + 30vw);*/
}

/* Basis-Styles */

button {
  all: unset;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button.button, a.button {
  transition: transform 200ms ease-in;
  transform-origin: center center;
}

.button:hover {
  transform: skewX(-12deg);
}

button:focus-visible,
.button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
a.button {
  text-decoration: none;
  color:inherit;
  display:flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  all: unset;
}

.mobile-only {
  display: none;
}

@font-face {
  /* Thin */
  font-family: Neue Montreal;
  src: url("../fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  /* Book - standard Schrift */
  font-family: Neue Montreal;
  src: url("../fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* Medium */
  font-family: Neue Montreal;
  src: url("../fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* Semi-bold */
  font-family: Neue Montreal;
  src: url("../fonts/PPNeueMontreal-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 16px;
  /*font-size: clamp(1rem, 1.1vw, 2rem);*/
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: var(--font-primary);
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styling */

header {
  font-family: Neue Montreal, Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-desktop-l);
  line-height: var(--font-size-desktop-l);
  color: white;
  mix-blend-mode: difference;
  width: 100vw;
  position: fixed;
  z-index: 10;
}

header > * {
  padding-top: var(--spacing-top);
  padding-bottom: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

/* Project Styling */

.project-title {
  font-style: italic;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.project-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

.project {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slider {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
  overflow-y: hidden;
}

.slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

.description {
  position: absolute;
  bottom: 0;
  font-size: var(--font-size-desktop-s);
  color: white;
  mix-blend-mode: difference;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding-bottom: var(--spacing-bottom);
}

/* Footer Styling */

.footer-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-stop: normal;
}
.footer-top {
  height: 50vh;
  pointer-events: none;
}
.footer {
  height: 50vh;
  background-color: white;
  font-family: Neue Montreal;
  font-size: var(--font-size-desktop-l);
  text-align: center;
  padding-top: 2rem;
  pointer-events: auto;
}

/* About / Imprint Overlay Styling */

.overlay {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  max-width: none;
  max-height: none;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;


}

.overlay.show-overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

dialog::backdrop {
  background: transparent;
}


.overlay-right {
  background-color: hsla(var(--color-bg-light));
  width: var(--overlay-width);
  overflow-x: hidden;
  position: relative;
  transform: translateX(100%);
  transition: transform var(--transition-speed-overlay) ease-out;
}

.about-imprint-slider {
  width: calc(2 * var(--overlay-width));
  height: 100%;
  display: flex;
  transform: translateX(0);
  will-change: transform;
  transition: transform var(--transition-speed-overlay) ease-out;
  
}

.about,
.imprint {
  height: 100%;
  width: var(--overlay-width);
  padding: calc(var(--spacing-top) + 0.2rem) 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}

.overlay-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 2.5rem;
}

.overlay-navigation {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-desktop-m);
  padding-top: 1rem;
  padding-bottom: var(--spacing-bottom);
  margin-right: auto; 
  
}

.overlay-navigation a.button {
  margin-right: auto; 
}

.imprint .overlay-navigation {
  justify-content: flex-end;
}

.about-intro {
  font-size: var(--font-size-desktop-m);
}

.about-clients {
  font-size: var(--font-size-desktop-s);
}

.about-clients ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.about-clients .clients-label {
  text-transform: uppercase;
}

.about-clients ul li::after {
  content: ",";
}

.about-clients ul li:first-child::after {
  content: ":";
}
.about-clients ul li:last-child::after {
  content: "";
}

.about p,
.imprint p {
  margin-top: 0;
}

.imprint-content {
  font-size: var(--font-size-desktop-s);
}

.imprint-content h2 {
  text-transform: uppercase;
  font-size: var(--font-size-desktop-m);
  font-weight: inherit;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.imprint-content h2:first-child {
  margin-top: 0;
}



.close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: calc(var(--spacing-top) + 0.2rem);
  margin-right: 1rem;
  line-height: normal;
  display: flex;
  align-items: center;
  cursor:pointer;
  z-index: 100;
  
}

.close-overlay img {
  width: 1.5rem;
  height: 1.5rem;
}

.overlay-left {
  width: calc(100vw - var(--overlay-width));
  position: relative;
  overflow: hidden;
  
}

.overlay.show-overlay .overlay-left {
  cursor: pointer;
}

.bouncing-image {
  position: absolute;
  will-change: transform;
  width: 250px;
  height: 338px;
  top: 0;
  left: 0;
  opacity: 0;
  /*transition: opacity var(--transition-speed) ease-out;*/
  animation: none;
}

.overlay.show-overlay .overlay-right {
  transform: translateX(0);
}

.overlay.closing .overlay-right {
  transform: translateX(100%);
}


.overlay.show-overlay .about-imprint-slider.show-about {
  transform: translateX(0);
}

.overlay.show-overlay .about-imprint-slider.show-imprint {
  transform: translateX(-50%);
}

.overlay.show-overlay .bouncing-image {
  /*opacity: 1;*/
  animation: appear var(--transition-speed) forwards,
              slideVert 6s linear infinite alternate,
             slideHori 7s linear infinite alternate;
  animation-delay: 500ms;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slideVert {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 338px);
  }
}

@keyframes slideHori {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 250px);
  }
}

@media screen and (max-width: 800px),
  screen and (min-width: 800px) and (max-width: 1200px) and (orientation: portrait) {
  .desktop-only {
    display: none;
  }

  .title-description-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    transform: translateY(calc(100% - 4rem)); /* Höhe title container */
    font-family: Neue Montreal;
    align-items: center;
    padding: 0 1rem 2rem 1rem;
    width: 100%;
    background-color: hsla(var(--color-bg-light), 0.2);
    transition: transform var(--transition-speed) ease-out,
      background-color var(--transition-speed) ease-out;
  }

  .title-description-container.show-description {
    background-color: hsla(var(--color-bg-light), 0.9);
    transform: translateY(0);
  }

  .project-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    cursor: pointer;
  }

  .project-title-mobile {
    font-size: var(--font-size-mobile-title);
    font-style: italic;
  }

  .title-arrow {
    position: absolute;
    right: 1rem;
    transition: transform var(--transition-speed) ease-out;
    transform-origin: center;
  }

  .title-arrow img {
    height:1rem;
  }

  .title-description-container.show-description .title-arrow {
    transform: rotate(180deg);
  }

  .description-mobile {
    font-size: var(--font-size-mobile-text);
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .overlay {
    display:flex;
    flex-direction: column;
  }
  
  .overlay-left, .overlay-right, .about, .imprint {
    width: var(--overlay-width-mobile);
  }

  .about-imprint-slider {
    width: calc(2 * var(--overlay-width-mobile));
  }

  .overlay-left {
    height:40%;
  }
  .overlay-right {
    height: 60%;
    transform: translateX(0) translateY(100%);
  }

  .overlay.show-overlay .overlay-right {
    transform: translateX(0) translateY(0);
  }

  .overlay.closing .overlay-right {
    transform: translateX(0) translateY(100%);
  }







  .about {
    
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  .overlay.show-overlay .bouncing-image {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
